body {
	background-color: #ccc;
}

#gallery-wrapper h1 {
	color: blue;
	font-size: 50px;
	text-align: center;
	margin-bottom: 20px;
	font-family: Asset;


}

.image {
	width: 32.3%;
	float: left;
	padding: .5%;
	
}

.portrait img{
	width:100%;
}

.landscape img{
	width:100%;

}
.caption {
	background-color: blue;
	text-align: center;
	position: relative;
	margin-top: -20px;
	color: white;
	top: 4px;
}


.four {
	margin-bottom: 20px;
    margin-top: 50px;
}

.five {
	margin-bottom: 20px;
	margin-top: 50px;
}
.six {
	clear: both;

	}
.extra-stuff {
	text-align: center;
	color: white;
	background-color: blue;
	float: right;
	width: 32.5%;
	height: 239.781px;
	line-height: 239.781px;
}